* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Ailerons';
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Ailerons';
    src: url('../assets/fonts/Ailerons.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeonLED';
    src: url('../assets/fonts/NeonLED.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    background-color: black;

    width: 100%;
    z-index: 2;
}

    nav a {
        font-size: 30px;
        font-weight: 500;
        font-optical-sizing: auto;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        word-spacing: -5px;
        letter-spacing: -4px;

        color: white;
    }

    nav a:hover {
        color: red; /* TODO: Select colors */
    }

    nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: 100%;
    }

        nav > ul > li {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 12.5px;
        }

        nav > ul > li::marker {
            content: '';
        }
        /* TODO: Animations */
        nav button {
            mask-image: url("../assets/svgs/right.svg");
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;

            border: none;
            outline: none;
            background-color: white;

            width: 25px;
            aspect-ratio: 1/1;
        }

header {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

    header h1 {
        font-size: 120px;
        font-weight: bold;
        font-optical-sizing: auto;

        text-align: center;
        text-transform: uppercase;

        letter-spacing: -15px;
    }

    header h3 {
        font-size: 50px;
        font-weight: lighter;
        font-optical-sizing: auto;

        text-align: center;
        text-transform: uppercase;

        word-spacing: -10px;
        letter-spacing: -5px;
    }

    header > div {
        position: absolute;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: black;

        width: 100%;
        height: 50px;
    }

    header > div::before {
        content: '>';

        font-size: 50px;

        rotate: 90deg;

        color: white;
    }

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-optical-sizing: auto;
    text-transform: uppercase;

    padding: 20px;
    background-color: black;

    width: 100%;
    color: white;
}

    footer p {
        font-size: 28px;
        letter-spacing: -5px;
    }

    footer ul {
        display: flex;
        flex-direction: row;

        font-size: 20px;
        letter-spacing: -2.5px;

        gap: 10px;
    }

    footer ul li::marker {
        content: '';
    }
