* {
    box-sizing: border-box;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Neon Led Light';
    src: url(./Fuentes/NeonLED.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Library';
    src: url(./Fuentes/Library.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ailerons';
    src: url(./Fuentes/Ailerons.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pro';
    src: url(./Fuentes/John.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.TitleIMG{
    font-size: 2vw;
}

label {
    color: white;
    font-family: 'Pro';
    line-height : 1vw;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

    a:hover {
        color: #ff0000;
        cursor: pointer;
    }
    
    a:active{
        color: rgb(114, 33, 33);
    }

    .EnlaceIA {
        color: #ff0000;
        cursor: pointer;
    }

    .EnlaceIA:visited{
        color: rgb(216, 71, 71);
    }

    .EnlaceIA:active {
        color: rgb(255, 107, 107);
    }

p {
    color: white;
    font-family: 'Pro';
    line-height : 25px;
}

h1 {
    font-family: 'Neon Led Light';
    font-size: 10vw;
}

h3 {
    font-family: 'Library';
    font-size: 2.7vw;
}

h2{
    color: white;
    font-family: 'Ailerons';
    font-size: 25px;
}

h4{
    color: white;
    font-family: 'Ailerons';
    font-size: 20px;
}

h5{
    color: rgb(223, 223, 223);
    font-family: 'Ailerons';
    font-size: 20px;
}

#divtransicioncolor{
    background-color: black;
    animation: CambiarColor 2s linear 2s 1 forwards;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
}

    @keyframes CambiarColor{
        0%{background-color: black;}
        99%{background-color: rgba(255, 255, 255, .0);}
        .99%{background-color: rgba(255, 255, 255, .0);}
        100%{width: 0px; height: 0px}
    }

#divtransicion{
    width: 2.5%;
    height: 5%;

    background-color: rgb(255, 255, 255);

    position: fixed;

    animation: CargarPagina linear 4s 1 forwards;

    z-index: 5;
}

    @keyframes CargarPagina{
        0%{left:0px;top: -10%;opacity: 0;} 
        10%{left:0px;top:95%;bottom:0px}
        12%{left:0px;top:94%;bottom:1%;opacity: 0.3;}
        15%{left:0px;top:95%;bottom:0px;opacity: 1;}
        30%{left:0px;top:95%;bottom:0px;width: 2.5%;}
        35%{left:0px;top:95%;bottom:0px;width: 100%;height: 5%;}
        40%{left:0px;top:0%;bottom:0px;width: 100%;height: 100%;}
        60%{left:0px;top:0%;bottom:0px;width: 100%;height: 100%;}
        100%{left:100%;top:0%;bottom:0px;width: 0%;height: 100%;}
    }

    #Barra {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(54, 54, 54, .6);
    }

        nav{
            position: fixed;
            z-index: 2;
        }

        .Paginas ul > * {
            display: none;
        }

        .Apartados {
            display: none;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            font-family: 'Ailerons';
            color: rgb(255, 255, 255);
            font-size: 25px;
            width: 100%;
        }

        #Lista{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            font-family: 'Ailerons';
            color: rgb(255, 255, 255);
            font-size: 25px;
            width: 100%;
        }
        
        .Paginas {
            vertical-align: center;
        }

        .Button{
            width: 20px;
            height: 20px;
        }

        .Atras {
            width: 20px;
            height: 20px;
        }
            
        #Session{
            width: 40px;
            height: 50px;
            margin: 0px 20px;
            transition: all .35s ease-out;
            filter: drop-shadow(2px 2px 1px rgb(66, 66, 66));
        }

            #Session:hover {
                filter: drop-shadow(5px 5px 1px rgb(177, 177, 177)) invert(85%);
            }

        #Cerrar {
            width: 20px;
            height: 20px;
            position: absolute;
        }

        #Inicio{
            display: none;
            flex-direction: column;
            text-align: right;
            position: fixed;
            cursor: pointer;
            background-color: rgb(0, 0, 0, .5);
            right: 0px;
            padding: 20px;
            line-height : 30px;
            top: 90px;
        }

        #LogoIMG {
            width: 140px;
            transition: all 0.3s ease-in;
            filter: drop-shadow(2px 2px 0 rgb(175, 175, 175))
        }

            #LogoIMG:hover {
                filter: drop-shadow(13px 10px 1px rgb(75, 75, 75)) invert(90%);
            }

        #Centro {
            text-align: center;
        }

        #Centro > * {
            padding: 5px;
        }

    #HaciaAbajo {
        background-color: rgba(0, 0, 0, .8);
        padding: 1vw 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: white;
    }

        #FlechaAbajo{
            width: 50px;
            height: 50px;
            z-index: 1;
            position: relative;
            animation-name: flecha;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes flecha{
            0% {top: -200px}
            25% {top: 5px}
            30%{top: -5px}
            35%{top: 0px}
            50% {top: 0px}
            65% {top: -5px}
            70%{top: 0px}
            75%{top: 5px}
            100% {top: 200px}
        }

#Pie {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Ailerons';
    text-transform: uppercase;
    font-size: 1vw;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    padding: 20px;
}

    .Footerimg{
        height: 40px;
        width: 40px;
    }