* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Ailerons';
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Ailerons';
    src: url('../assets/fonts/Ailerons.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeonLED';
    src: url('../assets/fonts/NeonLED.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

nav {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    background-color: black;

    width: 100%;
    z-index: 2;
}

    nav a {
        font-size: 30px;
        font-weight: 500;
        font-optical-sizing: auto;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        word-spacing: -5px;
        letter-spacing: -4px;

        color: white;
    }

    nav a:hover {
        color: red; /* TODO: Select colors */
    }

    nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: 100%;
    }

        nav > ul > li {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 12.5px;
        }

        nav > ul > li::marker {
            content: '';
        }
        /* TODO: Animations */
        nav button {
            mask-image: url("../assets/svgs/right.svg");
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;

            border: none;
            outline: none;
            background-color: white;

            width: 25px;
            aspect-ratio: 1/1;
        }

header {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

    header h1 {
        font-size: 120px;
        font-weight: bold;
        font-optical-sizing: auto;

        text-align: center;
        text-transform: uppercase;

        letter-spacing: -15px;
    }

    header h3 {
        font-size: 50px;
        font-weight: lighter;
        font-optical-sizing: auto;

        text-align: center;
        text-transform: uppercase;

        word-spacing: -10px;
        letter-spacing: -5px;
    }

    header > div {
        position: absolute;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: black;

        width: 100%;
        height: 50px;
    }

    header > div::before {
        content: '>';

        font-size: 50px;

        rotate: 90deg;

        color: white;
    }

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-optical-sizing: auto;
    text-transform: uppercase;

    padding: 20px;
    background-color: black;

    width: 100%;
    color: white;
}

    footer p {
        font-size: 28px;
        letter-spacing: -5px;
    }

    footer span {
        font-size: 20px;
        letter-spacing: -2.5px;
    }

    footer ul {
        display: flex;
        flex-direction: row;
    }

    footer ul li::marker {
        content: '';
    }

    li[role="separator"] {
        background-color: red;
    }

#Lista{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
list-style: none;
font-family: 'Ailerons';
color: rgb(255, 255, 255);
font-size: 25px;
width: 100%;
}

#Session{
width: 40px;
height: 50px;
margin: 0px 20px;
transition: all .35s ease-out;
filter: drop-shadow(2px 2px 1px rgb(66, 66, 66));
}

#Session:hover {
filter: drop-shadow(5px 5px 1px rgb(177, 177, 177)) invert(85%);
}

#Cerrar {
width: 20px;
height: 20px;
position: absolute;
}

#Inicio{
display: none;
flex-direction: column;
text-align: right;
position: fixed;
cursor: pointer;
background-color: rgb(0, 0, 0, .5);
right: 0px;
padding: 20px;
line-height : 30px;
top: 90px;
}

#Centro {
text-align: center;
}

#Centro > * {
padding: 5px;
}